java -jar {{mavenRepository}}/com/sebastian-daschner/jaxrs-analyzer/{{version}}/jaxrs-analyzer-{{version}}.jar {{#backend}} -b {{backend}} {{/backend}} -X -cp {{mavenRepository}} -o scenarios/{{index}}_actual {{#deployedDomain}} -d {{deployedDomain}} {{/deployedDomain}} {{#swaggerSchemes}} --swaggerSchemes {{swaggerSchemes}} {{/swaggerSchemes}} {{#renderSwaggerTags}} --renderSwaggerTags {{/renderSwaggerTags}} {{#swaggerTagsPathOffset}} --swaggerTagsPathOffset {{swaggerTagsPathOffset}} {{/swaggerTagsPathOffset}} project/target/classes
