<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>com.sebastian-daschner</groupId>
    <artifactId>project</artifactId>
    <version>0.1-SNAPSHOT</version>
    <packaging>war</packaging>

    <!-- IMPORTANT -->
    <!-- Don't use or edit the pom.xml, it will be overridden by pom.xml.mustache when running the ST -->
    <!-- The only reason it is not deleted right after the test is to use it in the IDE -->

    <dependencies>
        <dependency>
            <groupId>javax</groupId>
            <artifactId>javaee-api</artifactId>
            <version>7.0</version>
            <scope>provided</scope>
        </dependency>
    </dependencies>

    <build>
        <finalName>project</finalName>
        <plugins>
            <plugin>
                <groupId>com.sebastian-daschner</groupId>
                <artifactId>jaxrs-analyzer-maven-plugin</artifactId>
                <version>{{version}}</version>
                <executions>
                    <execution>
                        <goals>
                            <goal>analyze-jaxrs</goal>
                        </goals>
                        <configuration>
                            <backend>{{backend}}</backend>
                            <deployedDomain>{{deployedDomain}}</deployedDomain>
                            <swaggerSchemes>{{swaggerSchemes}}</swaggerSchemes>
                            <swaggerTagsPathOffset>{{swaggerTagsPathOffset}}</swaggerTagsPathOffset>
                            <renderSwaggerTags>{{renderSwaggerTags}}</renderSwaggerTags>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>

    <properties>
        <maven.compiler.source>1.8</maven.compiler.source>
        <maven.compiler.target>1.8</maven.compiler.target>
        <failOnMissingWebXml>false</failOnMissingWebXml>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    </properties>
</project>
